.five {
  &__wrapper {
    background-color: #000;
  }

  &__inner {
    position: relative;
    display: flex;
    flex-direction: column;
    @include fluid(gap, 15px, 30px);
    @include fluid(padding-top, 20px, 80px);
    @include fluid(padding-left, 20px, 80px);
    @include fluid(padding-right, 20px, 80px);
    @include fluid(padding-bottom, 20px, 56px);
    overflow-y: hidden;

    &-text {
      position: relative;
      max-width: 39%;
      margin-left: auto;
    }
  }

  &__title {
    @include fluid(margin-top, 15px, 20px);
  }

  &__item {
    position: relative;
    display: grid;
    grid-template-columns: 1fr .8fr;
    @include fluid(gap, 60px, 120px);

    &::after {
      content: '';
      position: absolute;
      top: 28%;
      @include fluid(left, 55px, 112px);
      width: 1px;
      height: 100%;
      background-image: linear-gradient(white 33%, rgba(255, 255, 255, 0) 0%);
      background-position: right;
      background-size: 1px 20px;
      background-repeat: repeat-y;
    }

    &-title {
      @include fluid(font-size, 18px, 28px);
    }

    &-text {
      display: flex;
      align-items: center;
      @include fluid(font-size, 18px, 26px);
      @include fluid(gap, 15px, 30px);

      span {
        display: block;
        @include fluid(font-size, 40px, 70px);
        line-height: 1;
      }
    }

    &-box {
      display: flex;
      flex-direction: column;
      @include fluid(gap, 15px, 20px);

      &:first-child {
        @include fluid(gap, 20px, 60px);

        .five__item-text {
          @include fluid(gap, 20px, 60px);
        }
      }

      &:last-child {
        .five__item-text {
          align-items: end;
          @include fluid(font-size, 16px, 20px);
        }
      }
    }
  }

  &__img {
    position: absolute;
    bottom: 0;
    left: -45%;
    width: 100%;
    height: 100%;
  }
}