.top {
  @include fluid(margin-top, 522px, 512px);

  &__box {
    display: flex;
    @include fluid(gap, 44px, 48px);
    @include fluid(margin-bottom, 29px, 31px);

    &-item {
      display: flex;
      align-items: end;
      gap: 8px;

      &:first-child {
        svg {
          width: 28px;
          height: 25px;
        }
      }

      &:last-child {
        svg {
          width: 18px;
          height: 53px;
        }
      }
    }

    &-icon {
      margin-bottom: 2px;
    }

    &-text {
      color: #fff;
      font-size: 12px;
    }
  }

  &__title {
    font-family: "Ardeco", sans-serif;
    font-size: 57px;
    font-weight: 400;
    letter-spacing: -1.14px;
    text-transform: uppercase;
    color: #fff;
  }

  &__text {
    max-width: 264px;
    color: #fff;
    letter-spacing: -0.56px;
    margin-bottom: 16px;
  }
}