.menu {
  display: flex;
  align-items: center;
  @include fluid(gap, 15px, 19px);

  &__item {
    @include fluid(padding-left, 10px, 20px);
  }

  &__link {
    position: relative;
    color: #101820;
    font-size: 14px;
    font-weight: 500;
    transition: color .38s ease-in-out;

    &::after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: -5px;
      transform: translateX(-50%);
      width: 0%;
      height: 2px;
      background-color: #101820;
      border-radius: 25px;
      transition: width .38s ease-in-out;
    }

    &:hover {
      &::after {
        width: 100%;
      }
    }

  }
}